@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  src: url('../fonts/geographwebregular.ttf');
  font-family: geograph;
}

* {
  @apply text-primary;
}

body {
  font-family: geograph;
}
