.Wrapper {
  @apply fixed top-0 left-0 w-full h-full;
  background: rgba(0, 0, 0, 0.7);
  z-index: 9999;
}

.Content {
  @apply center overflow-auto;
  width: var(--width);
  height: var(--height);
  z-index: 99999;
  background-color: var(--background);

  animation-name: transition-in;
  animation-duration: 650ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
}

@keyframes transition-in {
  0% {
    opacity: 0;
    transform: translate(-50%, calc(-50% + 500px));
  }
  40% {
    opacity: 1;
    transform: translate(-50%, calc(-50% + -20px));
  }
  60% {
    transform: translate(-50%, calc(-50% + 10px));
  }
  100% {
    transform: translate(-50%, calc(-50% + 0px));
  }
}

.CloseIcon {
  @apply absolute right-5 top-5 cursor-pointer;
  height: 36px;
  width: 36px;
  text-indent: -9999em;
  z-index: 999999;
  background-color: transparent;

  &::before {
    content: '';
    @apply absolute top-1/2 left-1/2;
    width: 2px;
    height: 36px;
    background-color: rgb(33, 42, 47);
    transition: transform 250ms ease-in-out 0s;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &::after {
    content: '';
    @apply absolute top-1/2 left-1/2;
    width: 2px;
    height: 36px;
    background-color: rgb(33, 42, 47);
    transition: transform 250ms ease-in-out 0s;
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}
