.Wrapper {
  @apply relative w-full overflow-hidden;
}

.Viewport {
  @apply overflow-hidden;
  overflow: var(--overflow) !important;
}

.Viewport.is-draggable {
  cursor: move;
  cursor: grab;
}

.Viewport.is-dragging {
  cursor: grabbing;
}

.Container {
  @apply flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
  margin-left: -10px;
}

.Slide {
  @apply relative pl-3;
  min-width: var(--slideWidth);
}

.Inner {
  @apply relative overflow-hidden w-full;
}

.Button {
  @apply flex justify-center items-center;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  border: 1px solid rgb(211, 212, 213);
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 24px 0px;
  transition: border-color 125ms ease-in-out 0s;

  &:hover {
    border-color: rgb(116, 121, 124);
  }
}

.PrevButton {
  @apply absolute left-10 top-1/2;

  & > svg {
    transform: rotate(180deg);
  }
}

.NextButton {
  @apply absolute right-10 top-1/2;
}
