.Wrapper {
  @apply w-max lg:w-full;
  box-shadow: rgb(211 212 213) 0px 6px 24px 0px;
}

.ImageWrapper {
  @apply relative;
}

.Hover {
}

.Overlay {
  @apply hidden lg:block absolute bg-black opacity-50 top-0 left-0 right-0 bottom-1;
}

.ButtonWrapper {
  @apply hidden lg:flex flex-col center;
  animation: opacity 0.15s ease-in;
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
