.ColorSwatch {
  @apply rounded-full cursor-pointer w-10 h-10 border border-grey;
  background-color: var(--color);
}

.DoubleColor {
  background: var(--background);
}

.Selected {
  outline: 2px solid rgb(116, 121, 124);
  outline-offset: 1px;
  transition: all 50ms ease-in 0s;
}
